*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: Arial, sans-serif;
  //   line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;

  // &:hover {
  //   text-decoration: underline;
  // }
}

ul {
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0.5rem 1.3rem 0.5rem 2.1rem;

  & a {
    display: block;
    padding: 0.5rem;
  }

  &__left-align {
    display: flex;
    font-size: 1.4rem;

    & li {
      margin-right: 1rem;
    }
  }

  &__right-align {
    display: flex;
    align-items: center;
    font-size: 1.3rem;

    & li {
      margin-left: 1rem;
    }
  }

  &__apps {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 50%;
      z-index: -1;
    }

    &:hover:after {
      background-color: #f2f2f2;
    }
  }

  // &__item:hover {
  // }

  &__profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: grey;
  }
}

.main {
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.form {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

// .material-icons.md-light {
//   color: rgba(255, 255, 255, 1);
// }
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.material-icons {
  color: #5f6368;
}
